:root {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
    font-weight: 400;


    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
    background-image: url(imgBg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* navigation */
.navigation {
    list-style-type: none;
    margin: 0;
    width: 100%;
    padding: 10px;
    padding-left: 20px;
    padding-right: 30px;
    overflow: hidden;
    background-color: #fffaff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 26px;
    text-decoration: none;
}

.navigation .home img {
    width: 66px;
    height: auto; /* maintains aspect ratio */
}

.navigation .textNav a {
    color: #1e1b18;
    font-family: 'Cabin', sans-serif;
    font-style: italic;
    font-weight: 700; /* 400-700 */
    font-size: 20px;
}

.navigation .textNav a:hover {
    color: #818181;
}

.navigation .logoutNav a {
    background-color: #313e50;
    color: #fffaff;
    border-radius: 30px;
    font-family: 'Cabin', sans-serif;
    font-style: italic;
    font-weight: 500; /* 400-700 */
    font-size: 20px;
}

.navigation .logoutNav a:hover {
    color: #fffaff;
    background-color: #28303a;
    border-radius: 30px;
}

.class {
    padding: 30px;
    padding-left: 30px;
    color: #1e1b18;
    font-family: 'Cabin', sans-serif;
    font-style: italic;
    font-weight: 700; 
    font-size: 50px;
}

.box {
    text-align: center;
}

h1 {
    font-style: italic;
    font-weight: 700; /* 400-700 */
    font-size: 50px;
    padding: 50px;
}

#stressSummary {
    font-weight: lighter;
}

li {
    list-style: none;
    font-weight: bold;
    font-style: italic;
}

.diagrams {
    padding: 50px;
    display: flex;
    justify-content: space-around;
}

/* pie-chart mood */

.pie-chart {
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .slice {
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(50% 50%, 100% 0, 100% 100%);
    transform-origin: center;
  }
  
  .slice:nth-child(1) {
    transform: rotate(0deg) scaleY(var(--size));
    background-color: #ff5733; /* Adjust color as needed */
  }
  
  .slice:nth-child(2) {
    transform: rotate(calc(30deg + (360deg * var(--size) / 100))) scaleY(var(--size));
    background-color: #f0c40e; /* Adjust color as needed */
  }
  
  .slice:nth-child(3) {
    transform: rotate(calc(75deg + (360deg * var(--size) / 100))) scaleY(var(--size));
    background-color: #33ff57; /* Adjust color as needed */
  }

/* chart hrv */



.chart {
    width: 300px;
    height: 200px;
    border: 1px solid #000;
    background-color: #fffaff;
    position: relative;
    /* display: flex;
    justify-content: space-between; */
  }
  
  .bar {
    /* width: 20px; */
    background-color: #007bff;
    position: absolute;
    bottom: 0;
  }

  .bar:nth-child(1) {
    width: 20px;
    left: 0;
  }
  
  .bar:nth-child(2) {
    width: 20px;
    left: 30px; 
  }
  
  .bar:nth-child(3) {
    width: 20px;
    left: 60px; 
  }

  .bar:nth-child(4) {
    width: 20px;
    left: 90px; 
  }

  .bar:nth-child(5) {
    width: 20px;
    left: 120px; 
  }

  .bar:nth-child(6) {
    width: 20px;
    left: 150px; 
  }

  .bar:nth-child(7) {
    width: 20px;
    left: 180px; 
  }


  