:root {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
    font-weight: 400;


    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
    background-image: url(../assets/imgBg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* navigation */
.navigation {
    list-style-type: none;
    margin: 0;
    width: 100%;
    padding: 10px;
    padding-left: 20px;
    padding-right: 30px;
    overflow: hidden;
    background-color: #fffaff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 26px;
    text-decoration: none;
}

.navigation .home img {
    width: 66px;
    height: auto; /* maintains aspect ratio */
}

.navigation .textNav a {
    color: #1e1b18;
    font-family: 'Cabin', sans-serif;
    font-style: italic;
    font-weight: 700; /* 400-700 */
    font-size: 20px;
}

.navigation .textNav a:hover {
    color: #818181;
}

.navigation .logoutNav a {
    background-color: #313e50;
    color: #fffaff;
    border-radius: 30px;
    font-family: 'Cabin', sans-serif;
    font-style: italic;
    font-weight: 500; /* 400-700 */
    font-size: 20px;
}

.navigation .logoutNav a:hover {
    color: #fffaff;
    background-color: #28303a;
    border-radius: 30px;
}

.class {
    padding: 30px;
    padding-left: 30px;
    color: #1e1b18;
    font-family: 'Cabin', sans-serif;
    font-style: italic;
    font-weight: 700; 
    font-size: 50px;
}

.box {
    text-align: center;
}

h1 {
    font-style: italic;
    font-weight: 700; /* 400-700 */
    font-size: 50px;
    padding: 50px;
}

#stressSummary {
    font-weight: lighter;
    margin: 20px;
}

/* li {
    list-style: none;
    font-weight: bold;
    font-style: italic;
} */

.diagrams {
    padding: 50px;
    display: flex;
    gap: 25%;
    /* justify-content: space-around; */
    font-weight: bold;
    font-style: italic;
    
}
.moodSummary {
  width: 50%;
}

/* pie-chart mood */
canvas.pieChart {
  width: 50px;
  height: 400px;
  margin: 20px;
  border: 1px solid #ccc;
}

.hrvSummary {
  width: 50%;
}

.bar  {
  width: 100%;
}
/* bar-chart hrv */
canvas.barChart {
  width: 10%;
  height: 300px;
  margin: 20px;
  border: 1px solid #ccc;
}

    /* arrow back */
.arrow-left {
  width: 40px; /* Adjust width as needed */
  height: 20px; /* Adjust height as needed */
  background-color: #313e50; /* Color of the arrow */
  position: relative;
  border-radius: 4px; /* Rounded edges */
}
  
  .arrow-left::before {
      content: '';
      position: absolute;
      top: 50%; /* Position in the middle vertically */
      left: -20px; /* Adjusted position to extend beyond the arrow */
      width: 20px; /* Length of the tail */
      height: 2px; /* Thickness of the tail */
      background-color: #759fdc; /* Color of the tail */
      transform: translateY(-50%); /* Center vertically */
      margin-left: 20px;
  }
  
