:root {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
    font-weight: 400;


    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
    background-image: url(imgBg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.BigLogo {
    display: flex;
    justify-content: center;
}

.BigLogoImg {
    width: 700px;
    height: auto;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

/* Buttons */
.button-group {
    display: block;
    text-align: center;
    padding-top: 80px;
}

.button-group button {
    cursor: pointer;
    padding: 15px 28px;
    border: 2px solid #29333C;
    border-radius: 17px;
    background-color: #29333C;
    color: #f2f2f2;
    margin: 0 10px;
    font-size: 16px;
    font-weight: bolder;
    margin: 70px auto; 
    display: block; 
}

.button-group button:focus {
    outline: none;
}

.button-group button:hover {
    background-color: #5D7283;
    border: 2px solid #5D7283;
}