:root {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
    font-weight: 400;


    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
    background-image: url(../assets/imgBg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.BigLogo {
    display: flex;
    justify-content: center;
}

.BigLogoImg {
    width: 60%;
    height: auto;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

/* Login */
#Login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin-top: 5%;
}

/* Form content */
.LoginForm {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fffaff;
    margin: 11% auto;
    padding: 25px;
    border-radius: 40px;
    width: 400px;
}

/* Login headings */
.LoginHeading {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 10px;
    color: #1E1B18;
    font-family: 'Cabin', sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 37px;
}

/* Form elements */
input[type="text"],
input[type="password"],
input[type="submit"] {
    width: 75%;
    padding: 20px 20px;
    margin: 8px 0;
    background-color: #E1F6FA;
    border: none;
    border-radius: 30px;
    color: #1E1B18;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 16px;
    box-shadow: 0 2px 2px #313E50;
}

input[type="submit"] {
    background-color: #313E50;
    width: 50%;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fffaff;
    font-family: 'Nunito', sans-serif;
    font-weight: 100;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #5D7283;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="submit"]:focus {
    outline: none;
}

#KubiosLink {
    text-align: center;
    font-size: smaller;

}

#snackbar-target {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
    margin-right: 2000px;
    border-radius: 20px;
  }
  #snackbar-target.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }

/* Responsive rules */
@media screen and (min-width: 1500px) {
    .BigLogoImg {
        width: 40%;
    }
}